@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
*{
    box-sizing: border-box;
    height: auto;
}

body{
    height:auto;
    min-height: 100vh;
    margin: 0;
    background-color: #FEF1E6;
    color: #90AACB;
    font-family: 'Poppins',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1 {
    color: #FFB085;
    font-size: 10rem;
    text-align: center;
    opacity: 0.5;
}

form{
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 100%;
    width: 400px;
}
.input {
    border: none;
    color: #444;
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
}
.input::placeholder{
    color: #444;
    text-align: center;
}

.input:focus{
    outline-color: #F9D5A7;
}

.todos{
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.todos li {
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem 2rem;    
}
.todos li.completed {
    color: #ff823f;
    text-decoration: line-through;
}
small{
    color: #FFB085;
    margin-top: 3rem;
    text-align: center;
}   

@media screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }

}